body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

.text-yellow {
  color: rgb(235, 205, 35);
}

.text-size {
  font-size: 60px;
}

.text-size-40 {
  font-size: 40px;
}

.text-size-50 {
  font-size: 60px;

  padding-top: 50px;
  margin-left: 5px;
  margin-bottom: 3%;
}

.flexible-container {
  display: flex;
}

.resize {
  width: 50%;
  padding-left: 7%;
  padding-right: 3%;
}

.resize-re {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 3%;
  padding-right: 1%;
  box-shadow: 10px 10px 40px rgb(165, 165, 165);
  border-radius: 10px;
}

.resize img {
  width: 100%;
}

.resize-re img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(salmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 800;
}

.top-banner {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  margin-top: 50px;
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 300px;
}

.experience-area {
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
}

#web-developer {
  border-left: 10px solid;
  border-radius: 10px;
  border-image: linear-gradient(tomato, rgb(250, 141, 129));
  border-image-slice: 1;
}

#baby-developer {
  border-left: 10px solid;
  border-radius: 10px;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  margin-top: 150px;
  text-align: center;
  color: lightgrey;
}
